@define-color base     #181825;
@define-color text     #cdd6f4;
@define-color subtext  #b5bfe2;

* {
  border: none;
  border-radius: 0;
  min-height: 20px;
  font-family: CaskaydiaCove Nerd Font;
  font-size: 12px;
}

window#waybar {
  background-color: @base;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  /* box-shadow: inset 0 -3px transparent; */
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 4px 8px;
  border-radius: 4px;
  background-color: transparent;
  color: #cdd6f4;
}

#workspaces button.active {
  color: @text;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @subtext;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#activity,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#custom-logo,
#tray {
  border-radius: 4px;
  padding: 4px 6px;
  color: @text;
}

tooltip {
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}

#custom-logo {
  margin-left: 8px;
}

#battery {
  margin-right: 8px;
}
